<h2> Type in the URL you'd like to save </h2>

<form action="/list" method="post">
  <input type="text" name="url" placeholder="Enter URL"/>
  <input type="text" name="title" placeholder="Enter Title"/>
  <input type="submit" value="Submit" />
</form>