<!DOCTYPE html>
<html>
<head>
<title>Bookmark Manager</title>
</head>

<body>
<h1>Welcome to your Bookmark Manager</h1>


<form action="/list" method="get">
  <div>
    <input type='submit' name='Bookmarks' value='View bookmarks'>
  </div>
</form>
<br>
<form action="/add" method="get">
  <div>
    <input type='submit' name='Add' value='Add bookmarks'>
  </div>
</form>
</body>

</html>


